name: Build Typst document and push to this repo as well as website
run-name: ${{github.event.repository.updated_at}} resume update by ${{github.actor}}
on:
  push:
    branches:
      main
jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Setup Typst
        uses: typst-community/setup-typst@v3
      - name: Compile Typst document
        run: typst compile main.typ main.pdf
      - name: Rename resume pdf file and move to directory
        run: mkdir -p target && mv main.pdf target/adhi_thirumala_resume.pdf
      - name: Commit compiled file to resume repo
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: 'target/*.pdf'
          commit_message: github actions runner compiled pdf and updated resume
      - name: Commit to folder in website repo
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{secrets.SSH_DEPLOY_KEY}}
        with:
          source-directory: ./target
          destination-github-username: adhi-thirumala
          destination-repository-name: website
          user-email: me@adhithirumala.com
          commit-message: "added compiled resume through github actions on resume repo"
          target-directory: static/pdf
